{%- for j in job_configs %}
{%- set name = j["name"] %}
{%- set image-name = j["image-name"] %}
{%- set workflow-name = j["workflow-name"] %}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ name }}
spec:
  activeDeadlineSeconds: 3600
  template:
    spec:
      containers:
        - name: {{ name }}
          image: {{ image-name }}
          command: ["python", "./main.py", "run", "{{ workflow-name }}"]
      restartPolicy: Never
  backoffLimit: 4
{%- endfor %}
